# File: DSC550_ASumbaraju_Create2DArray.ipynb
# Name: Adtya Sumbaraju
# Date: 06/09/2021
# Exercise 1.2

# ------------------------------------------------------------------------------------------------------- 
1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.
 
2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

3. Determine the minimum; maximum; average; and standard deviation of all entries.

4. Sort the DataFrame: 
   a) sort on column 2
   b) sort on row 2

# ---------------------------------------------------------------------------------------------------------

In [34]:
# import libraries
import numpy as np
import pandas as pd

# 1
# Create an array with random integers
# try for smaller arrays to check the pointers in assignment
# rows, cols = (3,3) # took 3 rows & 3 columns to match the requirement 4 of assignment for testing.
# switching to  size [10,50] as the intial testing was successful with smaller set.
rows, cols = (10,50)
rint_arr = [[np.random.randint(1,500) for i in range(cols)] for j in range(rows)]
# Load into DataFrame
df = pd.DataFrame(rint_arr)
print("Randomized Integers Data Frame")
df

Randomized Integers Data Frame

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,405,211,302,275,61,499,240,8,121,194,...,449,490,166,279,116,377,182,183,147,480
1,449,313,449,39,193,317,382,307,415,197,...,407,428,67,376,454,163,189,292,280,415
2,108,17,358,235,259,28,426,316,425,28,...,80,371,258,136,116,419,8,283,27,224
3,372,291,151,289,391,253,359,57,313,357,...,437,401,341,241,236,444,196,295,391,197
4,391,490,154,394,361,40,372,250,231,276,...,59,455,432,480,400,222,307,342,122,486
5,488,217,449,270,407,58,161,457,88,463,...,48,227,82,211,443,352,38,377,50,140
6,142,351,405,359,38,356,5,157,417,484,...,213,415,40,189,154,145,392,482,188,143
7,270,231,468,171,448,226,212,288,161,89,...,445,226,131,445,378,465,79,74,5,364
8,133,151,351,479,399,418,346,263,167,37,...,398,331,153,182,332,224,311,482,61,469
9,307,462,223,362,452,102,338,68,109,408,...,338,479,260,306,135,245,261,231,168,9

In [35]:
#  Calculate the sum of each row; the sum of each column; and the sum of all entries.

df.loc['Total',:] = df.sum(axis=0)
df.loc[:,'Total'] = df.sum(axis=1)
print("Sum of each Row, Column, and all Values")
df

Sum of each Row, Column, and all Values

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Total
0,405.0,211.0,302.0,275.0,61.0,499.0,240.0,8.0,121.0,194.0,...,490.0,166.0,279.0,116.0,377.0,182.0,183.0,147.0,480.0,13219.0
1,449.0,313.0,449.0,39.0,193.0,317.0,382.0,307.0,415.0,197.0,...,428.0,67.0,376.0,454.0,163.0,189.0,292.0,280.0,415.0,14228.0
2,108.0,17.0,358.0,235.0,259.0,28.0,426.0,316.0,425.0,28.0,...,371.0,258.0,136.0,116.0,419.0,8.0,283.0,27.0,224.0,10590.0
3,372.0,291.0,151.0,289.0,391.0,253.0,359.0,57.0,313.0,357.0,...,401.0,341.0,241.0,236.0,444.0,196.0,295.0,391.0,197.0,12620.0
4,391.0,490.0,154.0,394.0,361.0,40.0,372.0,250.0,231.0,276.0,...,455.0,432.0,480.0,400.0,222.0,307.0,342.0,122.0,486.0,13726.0
5,488.0,217.0,449.0,270.0,407.0,58.0,161.0,457.0,88.0,463.0,...,227.0,82.0,211.0,443.0,352.0,38.0,377.0,50.0,140.0,11947.0
6,142.0,351.0,405.0,359.0,38.0,356.0,5.0,157.0,417.0,484.0,...,415.0,40.0,189.0,154.0,145.0,392.0,482.0,188.0,143.0,11029.0
7,270.0,231.0,468.0,171.0,448.0,226.0,212.0,288.0,161.0,89.0,...,226.0,131.0,445.0,378.0,465.0,79.0,74.0,5.0,364.0,11691.0
8,133.0,151.0,351.0,479.0,399.0,418.0,346.0,263.0,167.0,37.0,...,331.0,153.0,182.0,332.0,224.0,311.0,482.0,61.0,469.0,13292.0
9,307.0,462.0,223.0,362.0,452.0,102.0,338.0,68.0,109.0,408.0,...,479.0,260.0,306.0,135.0,245.0,261.0,231.0,168.0,9.0,13218.0
Total,3065.0,2734.0,3310.0,2873.0,3009.0,2297.0,2841.0,2171.0,2447.0,2533.0,...,3823.0,1930.0,2845.0,2764.0,3056.0,1963.0,3041.0,1439.0,2927.0,125560.0

In [36]:
# 3 Determine the minimum; maximum; average; and standard deviation of all entries.
# Minimum of all random integers from dataframe
print("\nMinimum Value: " + str(df.values.min())) #min() will provide the minimum value

# Maximum of all entries
print("Maximum Value: " + str(df.values.max()))  #max() will provide the maximum value

# Average of all entries
print("Average Value: " + str(df.values.mean()))  #mean() will provide the mean value

# Standard Deviation of all entries
print("Standard Deviation: " + str(df.values.std()) + "\n") #std() will provide the Standard Deviation

Minimum Value: 1.0
Maximum Value: 125560.0
Average Value: 895.2584670231729
Standard Deviation: 5549.172888139634

In [37]:
# Sort the DataFrame: a) sort on column 2 b) sort on row 2
# Sort dataframe on row_index 2
print("Sort by Row index 2")
df_row_sort=df.sort_values(by=2, axis=1)
df_row_sort

Sort by Row index 2

,46,13,1,48,5,9,25,12,17,32,...,41,38,30,45,27,8,6,10,18,Total
0,182.0,396.0,211.0,147.0,499.0,194.0,402.0,416.0,420.0,371.0,...,490.0,26.0,168.0,377.0,4.0,121.0,240.0,344.0,80.0,13219.0
1,189.0,259.0,313.0,280.0,317.0,197.0,342.0,103.0,437.0,459.0,...,428.0,61.0,199.0,163.0,120.0,415.0,382.0,385.0,196.0,14228.0
2,8.0,10.0,17.0,27.0,28.0,28.0,31.0,34.0,38.0,52.0,...,371.0,394.0,395.0,419.0,420.0,425.0,426.0,446.0,494.0,10590.0
3,196.0,180.0,291.0,391.0,253.0,357.0,11.0,401.0,257.0,85.0,...,401.0,177.0,112.0,444.0,128.0,313.0,359.0,463.0,330.0,12620.0
4,307.0,198.0,490.0,122.0,40.0,276.0,1.0,199.0,418.0,395.0,...,455.0,431.0,214.0,222.0,375.0,231.0,372.0,311.0,89.0,13726.0
5,38.0,237.0,217.0,50.0,58.0,463.0,144.0,58.0,282.0,205.0,...,227.0,340.0,4.0,352.0,483.0,88.0,161.0,474.0,2.0,11947.0
6,392.0,308.0,351.0,188.0,356.0,484.0,339.0,311.0,144.0,380.0,...,415.0,177.0,253.0,145.0,271.0,417.0,5.0,8.0,256.0,11029.0
7,79.0,350.0,231.0,5.0,226.0,89.0,312.0,107.0,34.0,358.0,...,226.0,477.0,60.0,465.0,292.0,161.0,212.0,53.0,224.0,11691.0
8,311.0,67.0,151.0,61.0,418.0,37.0,218.0,214.0,302.0,463.0,...,331.0,107.0,291.0,224.0,246.0,167.0,346.0,480.0,191.0,13292.0
9,261.0,221.0,462.0,168.0,102.0,408.0,24.0,158.0,436.0,467.0,...,479.0,16.0,60.0,245.0,195.0,109.0,338.0,332.0,214.0,13218.0
Total,1963.0,2226.0,2734.0,1439.0,2297.0,2533.0,1824.0,2001.0,2768.0,3235.0,...,3823.0,2206.0,1756.0,3056.0,2534.0,2447.0,2841.0,3296.0,2076.0,125560.0

In [38]:
# Sort dataframe on column_index 2
print("Sort by Column index 2")
df_col_sort=df.sort_values(by=2, axis=0)
df_col_sort

Sort by Column index 2

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Total
3,372.0,291.0,151.0,289.0,391.0,253.0,359.0,57.0,313.0,357.0,...,401.0,341.0,241.0,236.0,444.0,196.0,295.0,391.0,197.0,12620.0
4,391.0,490.0,154.0,394.0,361.0,40.0,372.0,250.0,231.0,276.0,...,455.0,432.0,480.0,400.0,222.0,307.0,342.0,122.0,486.0,13726.0
9,307.0,462.0,223.0,362.0,452.0,102.0,338.0,68.0,109.0,408.0,...,479.0,260.0,306.0,135.0,245.0,261.0,231.0,168.0,9.0,13218.0
0,405.0,211.0,302.0,275.0,61.0,499.0,240.0,8.0,121.0,194.0,...,490.0,166.0,279.0,116.0,377.0,182.0,183.0,147.0,480.0,13219.0
8,133.0,151.0,351.0,479.0,399.0,418.0,346.0,263.0,167.0,37.0,...,331.0,153.0,182.0,332.0,224.0,311.0,482.0,61.0,469.0,13292.0
2,108.0,17.0,358.0,235.0,259.0,28.0,426.0,316.0,425.0,28.0,...,371.0,258.0,136.0,116.0,419.0,8.0,283.0,27.0,224.0,10590.0
6,142.0,351.0,405.0,359.0,38.0,356.0,5.0,157.0,417.0,484.0,...,415.0,40.0,189.0,154.0,145.0,392.0,482.0,188.0,143.0,11029.0
1,449.0,313.0,449.0,39.0,193.0,317.0,382.0,307.0,415.0,197.0,...,428.0,67.0,376.0,454.0,163.0,189.0,292.0,280.0,415.0,14228.0
5,488.0,217.0,449.0,270.0,407.0,58.0,161.0,457.0,88.0,463.0,...,227.0,82.0,211.0,443.0,352.0,38.0,377.0,50.0,140.0,11947.0
7,270.0,231.0,468.0,171.0,448.0,226.0,212.0,288.0,161.0,89.0,...,226.0,131.0,445.0,378.0,465.0,79.0,74.0,5.0,364.0,11691.0
Total,3065.0,2734.0,3310.0,2873.0,3009.0,2297.0,2841.0,2171.0,2447.0,2533.0,...,3823.0,1930.0,2845.0,2764.0,3056.0,1963.0,3041.0,1439.0,2927.0,125560.0

## End of Assignment